@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
    color: #e8d93b;
}

#main-title {
    font-size: 1.9em;
    text-shadow: 2px 2px #d1a213;
    color: rgb(251, 251, 251);
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;    
}

.mole {
    background-image: url(images/mole.jpg);
    background-size: cover;
}